.site-header {
    margin-top: 50px;
    img {
        width: 300px;
    }
}


.site-main {
    button {
        @include qod-button;
        }
    }

.site-content {
    width: 90%;
    font-family: 'Exo-Light';
    margin-bottom: 90px;
    
    p {
        font-size: 20px;
    }
    .entry-content {
        p {
          padding: 0;
        margin: 0;  
        }
       
        
    }
    .entry-meta {
        p {
            display: inline-block;
        }
        a {
        color: $brand;
        text-decoration: none;
        font-family: 'Exo-Light-Italic';
        // font-size: 2rem;
    }   
    }
    
}
.site-info {
    font-family: 'Exo-Light';
    margin-bottom: 75px;
    .main-navigation {
        margin-bottom: 15px;
        a {
            border-right: 1px solid white;
            line-height: 1rem;
            padding-right: 10px;
            &:last-of-type {
                border-right: none;
            }
        }

    }

    a {
        color: $brand;
        text-decoration: none;
    }
}