.site-header {
    margin-top: 50px;
    img {
        width: 300px;
    }
}

.site-main {
    button {
        text-shadow: none;
        box-shadow: none;
        color: #090;;
        background: $background;
        border: 1px solid #090;;
        font-family: 'Exo-Medium';
        font-size: 16px;
        padding: 12px 40px;

        }
    }

.site-content {
    width: 400px;
    font-family: 'Exo-Light';
    margin-bottom: 90px;
    
    p {
        font-size: 20px;
    }
    .entry-content {
        p {
          padding: 0;
        margin: 0;  
        }
       
        
    }
    .entry-meta {
        display: flex;
     a {
        color: $brand;
        text-decoration: none;
        font-family: 'Exo-Light-Italic';
    }   
    }
    
}
.site-info {
    font-family: 'Exo-Light';
    margin-bottom: 75px;
    .main-navigation {
        margin-bottom: 15px;
        a {
            border-right: 1px solid white;
            line-height: 1rem;
            padding-right: 10px;
            &:last-child {
                // border-right: none;
            }
        }

    }

    a {
        color: $brand;
        text-decoration: none;
    }
}