.site-header {
    margin-top: 50px;
    @include tablet {
        margin-top: 65px;
    }
    img {
        width: 300px;
        @include tablet {
            width: 500px;
        }
    }
}


.site-main {
    button {
        @include qod-button;
        @include tablet {
            @include qod-tablet-button;
        }
        }
    }

.site-content {
    width: 90%;
    font-family: 'Exo-Light';
    margin-bottom: 90px;
    
    p {
        font-size: 20px;
        
    }
    .entry-content {
        p {
          padding: 0;
        margin: 0;  
        @include tablet {
            font-size: 28px;
        }
        }
       
        
    }
    .entry-meta {
        p {
            display: inline-block;
        }
        a {
        color: $brand;
        text-decoration: none;
        font-family: 'Exo-Light-Italic';
        font-size: 20px;
    }   
    }
    
}
.site-info {
    font-family: 'Exo-Light';
    margin-bottom: 75px;
    @include tablet {
        display: flex;
    }
    .main-navigation {
        margin-bottom: 15px;
        @include tablet {
            display: flex;
            width:  280px;
            margin-top: 20px;
        }
        li {
            border-right: 1px solid white;
            line-height: 1rem;
            padding-right: 10px;
            padding-left: 10px;
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                border-right: none;
                @include tablet {
                    border-right: 1px solid white;
                }
            }
        }

    }

    a {
        color: $brand;
        text-decoration: none;
    }
}

a {
    color: $brand;
    text-decoration: none;
}
