/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
body {
    background: $background;
    color: white;
    margin-left: 10px;
    @include tablet {
        margin-left: 20px;
    }
    @include desktop {
    }
}



/* All Archives Page */

/* Submit a Quote Page */
