/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
body {
    background: $background;
    color: $text;
    margin-left: 10px;
    @include tablet {
        margin-left: 20px;
    }
}
