.quote-submission-wrapper {
    width: 400px;
    @include tablet {
        width: 750px;
    }
    div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-height: 100px;
        &:nth-of-type(2) {
            height: 150px;
        }
        input, 
        textarea {
            background: $background;
            border: 1px solid $brand;
            width: 250px;
            @include tablet {
                width: 400px;
                border: 2px solid $brand;
                height: 40px;
            }
            &:focus{
                color: white;
            }
        }
        textarea{
            width: 375px;            
            @include tablet {
                width: 90%;
                height: 100px;
            }
        }
}
    input[type='submit']{
        @include qod-button;
        margin-top: 10px;
    }
}